<table class="table">

  <tr>
    <td>Interested member</td>
  </tr>
  <tr>
    <td>
      <% for (var i = 0; i <= 50; i++){if(property.interest[i] != null){ %>
      <%= i+1 %>: <%= property.interest[i].username %><br/>
      <% } } if(property.interest[0] == null){ %>
      No one interested in this property yet
      <% } %>
    </td>
  </tr>

</table>
