<form class="form-signin col-md-4 col-md-offset-4" action="/member/login"
      method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>

  <label for="inputUsername" class="sr-only">Email address</label>
  <input type="text" id="inputUsername" class="form-control"
         placeholder="Username" required autofocus name="username">

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control"
         placeholder="Password" required name="password">

  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign in</button>
  <br />
  <h5>No Account? Register <a href="register">here!</a></h5>
</form>
